                                          Правила
1. Для того, чтобы ввести букву нужно:
    * кликнуть по окну ввода и ввести букву
    * нажать на клавишу z/я
    * клавиша Enter останавливает возможность ввода букв
2. Лампочка - подсказка, за её использование снимается 100 очков вне зависимости от уровня.
3. При вводе 3-х неправильных букв Вы проигрываете.
4. Стакан с водой показывает состояние жизни, при неправильной букве количество воды в стакане уменьшается.
                                        Удачи!
